<!-- Upper Navbar -->
{% load static %}
  <!-- Main Navbar -->
  <nav class="navbar  navbar-expand-lg  navbar-custom mt-0 mb-0 py-3 shadow-4" id="mainNavbar" style="background-color: #142f6a">
    <div class="container">
    <div class="d-block">
      <a class="navbar-brand me-2 brand-log-title" href="{{ link }}">
        <img src="{% static '../assets/images/LOGO.png' %}" alt="logo">
     
      </a>
      <h6>GROUP CONSULTING OFFICE SARL</h6>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtonsExample"
          aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse ms-5" id="navbarButtonsExample">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 nav-menu">
          <li class="nav-item">
            <a class="nav-link nav-link-home text-white fw-bold" href="{% url 'cabinet:homepage' %}">Home</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
              Expertises
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for expertise in categorie_expertise %}
              <li><a class="dropdown-item" href="{% url 'compte:expertise_detail' expertise.slug %}">{{ expertise.expertise }}</a></li>
                {% endfor %}

                
                  </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="{% url 'cabinet:blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="{% url 'compte:contact' %}">Contacts</a>
          </li>
          
        </ul>
{% comment %}   
        <div class="d-flex align-items-center ms-auto">
            {% if user.is_authenticated %}
            <a href="{% url 'pro_commerce:dashboard' %}">
                <button class="btn btn-outline-dark custom-outline-button text-lowercase" type="button">Publiez un produit</button>
            </a>
        {% else %}
            <a href="{% url 'compte:login' %}">
                <button class="btn btn-outline-dark custom-outline-button text-lowercase" type="button">Publiez un produit</button>
            </a>
        {% endif %}
        
  
          <a href="#" class="icon-search" aria-label="Search"><i class="fas fa-search fa-2x mx-2"></i></a>
          {% if user.is_authenticated %}
          <div class="dropdown d-inline-block">
              <button class="btn btn-link text-decoration-none dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- Cercle avec l'initiale de l'utilisateur -->
                  <div class="user-circle d-flex align-items-center justify-content-center me-2">
                      {{ user.username|slice:":2" }} <!-- Affiche uniquement la première lettre de l'utilisateur -->
                  </div>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{% url 'compte:profile' %}">Profil</a></li>
                  <li><a class="dropdown-item" href="{% url 'pro_commerce:liste_favoris' %}">Liste de favoris</a></li>
                  <li><a class="dropdown-item" href="{% url 'compte:logout' %}">Déconnexion</a></li>
              </ul> 
          </div>
          {% else %}
          <a href="{% url 'compte:login' %}" class="d-inline-block" aria-expanded="false">
              <i class="fas fa-user fa-2x mx-2"></i>
          </a>
          {% endif %}
          
        </div> {% endcomment %}
      </div>
    </div>
  </nav>
  