{% extends "../../admin/base.html" %}
{% load form_helpers %}

{% block main %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card shadow p-4 w-100" style="max-width: 800px;">

        <h4 class="text-center mb-4">Mettre à jour la categorie </h4>

    <div class="justify-content-center">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row mb-3 pt-5">
        
            <div class="col-md-12">
                <div class="form-group">
                    <label for="{{ form.nom_article.slug_for_label }}" class="form-label text-muted">{{ form.nom_article.label }}</label>
                    {{ form.nom_article|add_class:"form-control" }}
                    {% if form.nom_article.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.nom_article.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
      
    </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{% url 'compte:article' %}" class="btn btn-secondary">Annuler</a>

        </div>
    </form>
</div>
</div>
</div>
{% endblock main %}