{% extends "base.html" %}
{% block title %}Contacts{% endblock title %}
{% block content %}
<section class="">
  <section class="hero text-white text-center" style="background-image: url('assets/images/contact.jpg'); background-size: cover; background-position: center; min-height: 400px;">
    <div class="container d-flex flex-column justify-content-center align-items-center h-100 pt-5">
      <h1 class="display-5 mb-3 fw-bold">Prenez Contact avec Nous</h1>
      <p class="lead mb-4 fw-bold">Nous apprécions vos retours et sommes là pour vous aider avec toutes vos questions.</p>
      <a href="#contact-form" class="btn btn-light btn-md">Contactez-nous Maintenant</a>
    </div>
  </section>
  <section class="container-fluid section-down-hero">
  </section>
  <section class="container-fluid contact-bg">

  <section class="container text-center">
    <span style="display: inline-block; border-bottom: 1px dashed #f2e9d8;; width: 30px; margin: 0 5px;"></span>
    <span style="display: inline-block; border-bottom: 1px dashed #f2e9d8;; width: 30px; margin: 0 5px;"></span>
  </section>
  <div class="container p-3" id="contact-form">
    <div class="row gy-3 gy-md-4 align-items-stretch">
      
      <!-- Contact Form on large screens (left), below map on small screens -->
      <div class="col-12 col-lg-6 order-2 order-lg-1 contact-form">
        <div class="bg-white border rounded shadow-sm p-xl-5">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row gy-4 gy-xl-5">
              <div class="col-12">
                <label for="fullname" class="form-label">Nom Complet <span class="text-danger">*</span></label>
                <input type="text" class="form-control border-input-part" id="nom" name="nom" required placeholder="Entrez votre nom complet">
              </div>
              <div class="col-12 col-md-6">
              
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                  <i class="fas fa-map-marker-alt
                   me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                  </span>
                  <input type="email" class="form-control" id="email" name="email" required placeholder="Entrez votre email">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <label for="phone" class="form-label">Numéro de Téléphone</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="fas fa-phone"></i>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                  </span>
                  <input type="tel" class="form-control" id="numero_telephone" name="numero_telephone" placeholder="Entrez votre numéro de téléphone">

                </div>
              </div>
              <div class="col-12">
              
                <label for="subject" class="form-label">Objet <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="objet" name="objet" required placeholder="Entrez l'objet">
              </div>
              <div class="col-12">
                <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                <textarea class="form-control" id="contenu" name="contenu" rows="3" required placeholder="Votre message"></textarea>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-message-sent btn-lg" type="submit">Envoyer</button>
                </div>
              </div>
            </div>
          </form>
          
          
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row mb-3">
              <div class="col-md-6">
                {{ form.nom.label_tag }}
                {{ form.nom }}
              </div>
             <div class="col-md-6">
                <img id="main-image-preview" src="#" alt="Aperçu de l'image principale" style="display:none; width: 50%;height:40%;">
             </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                {{ form.email.label_tag }}
                {{ form.email }}
              </div>
              <div class="col-md-6">
                {{ form.numero_telephone.label_tag }}
                {{ form.numero_telephone }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                {{ form.contenu.label_tag }}
                {{ form.contenu }}
              </div>
            </div>
            <div class="col-12">
              <div class="d-grid">
                <button class="btn btn-message-sent btn-lg" type="submit">Envoyer</button>
              </div>

          </form>
        </div>
      </div>

      <!-- Map and Social Media Section (right on large screens, above form on small screens) -->
      <div class="col-12 col-lg-6 order-1 order-lg-2">
        <div class="social-card justify-content-center">
          <h6 class="card-title card-title-social">Suivez-nous sur les réseaux sociaux</h6>
          <div class="d-flex p-2">
            <a class="btn btn-outline-primary btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-primary btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-primary btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-warning btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        
        <h5 class="p-4 text-muted"></h5>
        <div class="card mb-3">
        <h5 class="card-title">Trouvez-nous sur la carte</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15586.868723957801!2d-1.539952767526978!3d12.401856862952236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe2e9524ab18bdbf%3A0xa4af7b9438417197!2sTangen%2C%20Ouagadougou!5e0!3m2!1sfr!2sbf!4v1711723664675!5m2!1sfr!2sbf" height="290" style="width: 100%; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
      </div>
      
    </div>
  </div>
</section>
</section>
{% block news_letter %}{% endblock news_letter %}
{% block partner %}{% endblock partner %}
{% endblock content %}
