{% extends "base.html" %}
{% block content %}
    <!-- Hero Section -->
    <div class="hero_juridique d-flex justify-content-center align-items-center" >
    <div class="hero_content text-center text-light" style="max-width: 800px; padding: 20px;">
        <h1 class="display-4  mb-4 text-ctitre-services" >
            Services juridiques de qualité
        </h1>
        <p class="lead mb-4 text-ctitre-services" style="font-size: 1.25rem;">
            Explorez nos services juridiques spécialisés, conçus pour soutenir et protéger votre entreprise dans un environnement juridique complexe.
        </p>
        <a href="#services" class="btn  btn-lg btn-services px-4 py-2" style="font-weight: bold;">
            Découvrir nos services
        </a>
    </div>
</div>
<section class="container-fluid section-down-hero">
</section>

    <!-- Services Section -->
    <section id="" class="services-section py-5 services-bg">
        <div class="container">
            <h3 class="text-juridique text-center text-services">Nos services juridiques</h3>
            <div class="row gx-5">
                <!-- Service 1 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-file-signature fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title ">Rédaction des actes juridiques</h5>
                            <p class="card-text">Réalisation de toutes les démarches de création, de modification et de dissolution des sociétés.</p>
                        </div>
                    </div>
                </div>

                <!-- Service 2 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-envelope-open-text fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title">Convocations aux assemblées</h5>
                            <p class="card-text">Rédaction et envoi des convocations aux assemblées générales des sociétés.</p>
                        </div>
                    </div>
                </div>

                <!-- Service 3 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-scroll fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title">Rapports de gérance</h5>
                            <p class="card-text">Rédaction et publication des rapports de gérance et des procès-verbaux d'assemblées.</p>
                        </div>
                    </div>
                </div>

                <!-- Service 4 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-gavel fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title">Conseils juridiques</h5>
                            <p class="card-text">Consultation et conseils juridiques pour toutes vos questions légales.</p>
                        </div>
                    </div>
                </div>

                <!-- Service 5 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-briefcase fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title">Assistance en droit du travail</h5>
                            <p class="card-text">Formation, conseils et assistance en matière de législation du travail et sociale.</p>
                        </div>
                    </div>
                </div>

                <!-- Service 6 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card service-card h-100 text-center">
                        <div class="card-body">
                            <i class="fas fa-book fa-3x mb-4 icon-services"></i>
                            <h5 class="card-title">Elaboration de manuels de procédure</h5>
                            <p class="card-text">Création de manuels de procédure pour garantir la conformité et l'efficacité de vos opérations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}