<section class="news">
    <div class="container p-5 pb-0">
      <form action="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2">
              <span>Sign up for our newsletter</span>
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example22" class="form-control" />
              <label class="form-label" for="form5Example22">Email address</label>
            </div>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="button" class="btn btn-outline-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </div>
    </section>
    <!-- Grid container -->
