<section class="container-fluid background-section py-5 d-flex justify-content-center align-items-center">
  <section class="container text-center">
    <h4 class="text-news-Subscribe mb-4">Suivez notre newsletter<br>restez informer des evolutions juridiques majeurs</h4>
    
    <form action="">
      <div class="row justify-content-center align-items-center">
        
        <div class="col-auto mb-3">
          <p class="pt-2">
            <span class="text-sign-news-letter">Inscrivez-vous à notre newsletter</span>
          </p>
        </div>
        
        <div class="col-md-5 col-12 mb-3">
          <div class="form">
            <input
              type="email"
              id="form5Example22"
              class="form-control"
              placeholder="Votre adresse email"
            />
          </div>
        </div>
        
        <div class="col-auto mb-3">
          <button
            type="submit"
            class="btn btn-news-letter"
          >
            S'abonner
          </button>
        </div>
        
      </div>
    </form>
  </section>
</section>
