<section class="partners-section">
    <div class="container  py-5">
      <h2 class="text-center fw-bold">Nos Partenaires</h2>
      <p class="text-center text-body-secondary mb-4">Nous sommes fiers de collaborer avec ces entreprises de confiance.</p>
      <div class="row row-cols-2 row-cols-md-4 g-4 text-center">
        <!-- Logo Partenaire 1 -->
        <div class="col">
          <img src="assets/images/partenaire/p4.png" alt="Partenaire 1" class="partner-logo">
        </div>
        <!-- Logo Partenaire 2 -->
      
        <!-- Logo Partenaire 3 -->
        <div class="col">
          <img src="assets/images/partenaire/p2.png" alt="Partenaire 3" class="partner-logo">
        </div>
        <div class="col">
          <img src="assets/images/partenaire/p4.png" alt="Partenaire 1" class="partner-logo">
        </div>
        <div class="col">
          <img src="assets/images/partenaire/p2.png" alt="Partenaire 3" class="partner-logo">
        </div>
        <!-- Logo Partenaire 4 -->
       
       
       
      </div>
    </div>
  </section>