/*........................... RESPONSIVE PARTY  ......................................................*/

/* HERO PARTY */
.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: 20%;
}

.carousel-item-hero {
  height: 80vh; /* Full viewport height */
  min-height: 300px; /* Minimum height to avoid issues with very small viewports */
}
/* defilement image des categories  */
 
 /* Style pour les boutons du carrousel */

 
 .carousel-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
  color: white;
  border: none;
  padding: 1px 15px;
  cursor: pointer;
  font-size: 24px; /* Taille de la flèche */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre pour effet 3D */
  /* z-index: 10; */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Positionnement du bouton précédent */
.carousel-button.next ,.carousel-button.prev{
  position: relative;
  left:50px;
}
.carousel-button.prev {
  position: relative;

  left: 10px;
}

/* Positionnement du bouton suivant */
.carousel-button.next {
  right: 10px;
}

/* Effet au survol des boutons */
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Assombrit le fond */
  transform: translateY(-50%) scale(1.1); /* Agrandit légèrement le bouton */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Accentue l'ombre */
}
.carousel-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
}
.carou .carousel-item {
  display: inline-block;
  width: 200px; /* Ajustez la largeur des éléments */
  margin-right: 15px; /* Espacement entre les éléments */
}
@media (max-width:360px){
  .carousel-item img {
    width: 100% !important;
    height: 55vh;

    object-fit: cover;

  }
}
.carou .carousel-item img {
  width: 200px;
  height: 200px;

  object-fit: cover;

}
@media (max-width:359px){
  .carou .carousel-item img {
    width: 127px !important;
    height: 90px !important;
    object-fit: cover;
    background-color: red;
}
}
  /* Style pour les boutons du carrousel */

 
/* Style pour la scrollbar cachée */
.carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-container {
  -ms-overflow-style: none; /* Cache la scrollbar sur Internet Explorer et Edge */
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
}
/* fin defilement image des categories  */

/*............................ END RESPONSIVE PARTY .................................................... */

/* CATEGORY SUB CATEGORY  */


.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #e2e6ea;
  color: #000;
  transition:0.4s;
}



/* END CATEGORY SUB CATEGORY  */
/* HERO PARTY  */

.carousel-img {
    height: 300px; /* Ajustez cette hauteur selon vos besoins */
    object-fit: cover;
    width: 400px;
    object-position: center;
    border-radius: 4%;
    

  }


.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image sans déformation */
    display: block;
}

.image-wrapper h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le titre */
    color: #fff;
}
.img-category-gallery{
 height: 18rem; 
}


/* END FOOTER PARTY  */
/* COMPTABILITE PAGE PARTY */
.hero_compta  {
    background-image: url('/assets/images/compta1.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 80vh; /* Adjust height as needed */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero_compta::before,.hero_juridique::before,.hero_fiscalite::before,.hero_management::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Adds a dark overlay for better text visibility */
    z-index: 1;
}
/* HERO FISCALITE  */
.hero_fiscalite {
  background-image: url('/assets/images/fis2.jpeg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust height as needed */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* HERO JURIDIQUE  */
.hero_juridique {
  background-image: url('/assets/images/juri2.jpeg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust height as needed */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* HERO MANAGEMENT */
.hero_management {
  background-image: url('/assets/images/compta1.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust height as needed */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero_content {
    z-index: 2;
}

.hero_content h1 {
    font-size: 3rem; /* Adjust as needed */
    margin-bottom: 20px;
    font-weight: bold;
}

.hero_content p {
    font-size: 1.2rem; /* Adjust as needed */
    margin-bottom: 30px;
}
