{% extends "./admin/base.html" %}
{% load widget_tweaks %}
{% load static %}
<title>{% block title %}Profil utilisateur{% endblock %}</title>
{% block stats %}{% endblock stats %}
{% block main %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center header-title">
                  <h5 class="mb-0">Mon Profil</h5>
                  <button id="edit-profile-btn" class="btn btn-sm btn-outline-light">Modifier le Profil</button>
              </div>
              <div class="card-body">
                <form method="POST" action="{% url 'compte:profile' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="text-center mb-4 position-relative">
                    {% if form.instance.photo %}
                        <img id="profile-image" src="{{ form.instance.photo.url }}" alt="Image actuelle" class="img-fluid rounded-circle shadow-sm" style="height: 100px; width: 100px;">
                    {% else %}
                        <div id="profile-image-container" class="default-profile-icon position-relative" style="height: 100px; width: 100px; border-radius: 50%; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center;">
                            <i class="fas fa-camera fa-2x text-muted"></i>
                        </div>
                    {% endif %}
                    
                    <label for="id_photo" class="edit-icon position-absolute" style="bottom: 0; right: 0;">
                        <i class="fas fa-edit text-primary" style="cursor: pointer; font-size: 18px;"></i>
                    </label>
                    {{ form.photo|add_class:"d-none" }}
                  </div>

                  <div class="mb-3">
                      <label for="{{ form.username.slug_for_label }}" class="form-label">Nom</label>
                      {{ form.username|add_class:"form-control" }}
                      {% if form.username.errors %}
                          <div class="text-danger">{{ form.username.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="mb-3">
                      <label for="{{ form.email.slug_for_label }}" class="form-label">Email</label>
                      {{ form.email|add_class:"form-control" }}
                      {% if form.email.errors %}
                          <div class="text-danger">{{ form.email.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="mb-3">
                      <label for="{{ form.nouveau_mot_de_passe.id_for_label }}" class="form-label">Nouveau mot de passe</label>
                      {{ form.nouveau_mot_de_passe|add_class:"form-control" }}
                      {% if form.nouveau_mot_de_passe.errors %}
                          <div class="text-danger">{{ form.nouveau_mot_de_passe.errors }}</div>
                      {% endif %}
                  </div>
                  <div class="mb-3">
                      <label for="{{ form.confirmer_mot_de_passe.id_for_label }}" class="form-label">Confirmer le mot de passe</label>
                      {{ form.confirmer_mot_de_passe|add_class:"form-control" }}
                      {% if form.confirmer_mot_de_passe.errors %}
                          <div class="text-danger">{{ form.confirmer_mot_de_passe.errors }}</div>
                      {% endif %}
                  </div>

                  <div class="d-flex justify-content-between btn-style">
                      <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
                      <!-- Trigger the modal -->
                      <button type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#deleteAccountModal">Supprimer le compte</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Modal de confirmation de suppression de compte -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteAccountModalLabel">Confirmer la suppression du compte</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Fermer</button>

        <form method="POST" action="{% url 'compte:delete_account' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Make fields readonly by default
  document.addEventListener("DOMContentLoaded", function() {
      const formFields = document.querySelectorAll(".form-control");
      formFields.forEach(field => field.setAttribute("readonly", true));

      // Toggle readonly on clicking "Modifier le Profil"
      document.getElementById("edit-profile-btn").addEventListener("click", function() {
          formFields.forEach(field => field.toggleAttribute("readonly"));
      });
  });
</script>

{% endblock main %}
