{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start  text-muted footer-background">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->

     
      <!-- Left -->
  
      <!-- Right -->
      <div>
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <img src="{% static '../assets/images/LOGO.png' %}" alt="logo">
            </h6>
            <p>
              KEFC GROUP CONSULTING OFFICE est un cabinet de conseils et d'audit,
              qui accompagne les petites,moyennes et grandes structures(Institutions,
                                                                        Entreprises,Associations,ONG....)
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
        
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase mb-4 text-footer-informa">Contact</h6>
          
            <p><i class="fas fa-map-marker-alt me-2"></i> Ouagadougou, secteur 17 (Tanghin)</p>
          
            <p><i class="fas fa-envelope me-2"></i>kefcgroupconsultingofficesarl@gmail.com</p>
          
          
            <p>
              <i class="fas fa-phone-alt  me-2"></i> (+226) 73379037<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (+226) 77938213<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (+226) 78483111
            </p>
          </div>
          
       <!-- Grid column -->
<div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">

  <!-- Texte d'introduction -->
  <div class="text-center mb-3">
    <span class="text-footer-informa">Suivez-nous sur les réseaux sociaux :</span>
  </div>

  <!-- Icônes sociales -->
  <div class="d-flex justify-content-center gap-2">
    <!-- Facebook -->
    <a href="{{ link }}"
       class="text-white rounded d-inline-flex justify-content-center align-items-center text-decoration-none"
       style="width: 40px; height: 40px;background-color: #0A66C2;"
       target="_blank" rel="noopener noreferrer">
      <i class="fab fa-facebook-f" style="color: white; font-size: 18px;"></i>
    </a>
    <a href="{{ linkedin_link }}"
    class="rounded d-inline-flex justify-content-center align-items-center text-decoration-none"
    style="width: 40px; height: 40px; background-color: #0A66C2;"
    target="_blank" rel="noopener noreferrer">
   <i class="fab fa-linkedin-in" style="color: white; font-size: 18px;"></i>
 </a>
 
 

    <!-- WhatsApp -->
    <a href="https://wa.me/{{ number }}?text=Bonjour%2C%20je%20souhaite%20en%20savoir%20plus"
       class="bg-success text-white rounded d-inline-flex  text-decoration-none justify-content-center align-items-center"
       style="width: 40px; height: 40px;"
       target="_blank" rel="noopener noreferrer">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

</div>


          <!-- Grid column -->
        </div>
        </div>
        
      
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4 bg-f">
      © 2025 Copyright:
      <a class="text-reset text-decoration-none fw-bold" href="https://mdbootstrap.com/">KEFC GROUP CONSULTING OFFICE</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->